apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: dev-research-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: research-app
      component: mongo
  template:
    metadata:
      labels:
        app: research-app
        component: mongo
        tier: database
        environment: dev
    spec:
      containers:
        - name: mongo
          image: mongo:6
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc
