apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: dev-research-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: research-app
      component: backend
  template:
    metadata:
      labels:
        app: research-app
        component: backend
        tier: api
        environment: dev
    spec:
      containers:
        - name: backend
          image: lukky175/research-summarizer-backend:a4b1012a61b5f56d00190a860b7c9ad6a60652be
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          env:
            - name: MONGO_URI
              value: mongodb://mongo:27017/loginApp

            - name: GEMINI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: GEMINI_API_KEY

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
