apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: dev-research-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: research-app
      component: backend
  template:
    metadata:
      labels:
        app: research-app
        component: backend
        tier: api
        environment: dev
    spec:
      containers:
        - name: backend
          image: lukky175/research-summarizer-backend:55d31c6d96180f1c12ce697d7d2ef8e53428266c
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          env:
            - name: MONGO_URI
              value: mongodb://mongo:27017/loginApp
            - name: GEMINI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: GEMINI_API_KEY
